# .ebextensions/01_custom_config.config

files:
  "/tmp/custom_script.sh":
    content: |
      #!/bin/bash
      yum update -y
      yum install -y postgresql

      # get RDS connect information
      RDS_HOST="${local.rds_endpoint}"
      DB_PASSWORD="${local.rds_password}"
      DB_USER="${local.rds_user}"
      DB_CLUSTER_IDENTIFIER="${local.rds_dbClusterIdentifier}"
      DB_SECRET_ARN="${local.rds_secret_arn}"

      # create database
      PGPASSWORD=$DB_PASSWORD psql -h $RDS_HOST -U $DB_USER -c "CREATE DATABASE idea_box_db;" || echo "Database creation failed"

      # configure nginx
      sed -i 's/listen 5000;/listen 8080;/' /etc/nginx/nginx.conf
      systemctl restart nginx

commands:
  01_run_custom_script:
    command: "bash /tmp/custom_script.sh"
